Source: ev3dev-adduser-config
Section: embedded
Priority: extra
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9), config-package-dev (>= 5.0), adduser
Standards-Version: 3.9.5
Homepage: http://www.ev3dev.org
Vcs-Git: git://github.com/ev3dev/ev3dev-adduser-config.git
Vcs-Browser: https://github.com/ev3dev/ev3dev-adduser-config

Package: ev3dev-adduser-config
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: ev3dev-specific configuration files for adduser
 Replaces the default adduser configuration with one specifically for ev3dev.
